@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
	background-image: url('./assets/icons/bg-sidebar-mobile.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nav-link:hover .nav-link__step,
.nav-link:focus .nav-link__step .active .nav-link__step,
.active-step {
	color: hsl(213, 96%, 18%);
	background: hsl(206, 94%, 87%);
	border-color: hsl(206, 94%, 87%);
}

@media (min-width: 992px) {
	.nav {
		background-image: url('./assets/icons/bg-sidebar-desktop.svg');
	}
}
